Source/VpatChecker/temp/test3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestPaths">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="StaticContext">
          <xs:complexType>
            <xs:attribute name="APIVersion" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="TestPath">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="state">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="transition">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="contexts">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="context">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="origin" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="situations">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="situation">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="origin" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dataflows">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="dataflow">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="parameters">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="parameter">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="origin" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="component" type="xs:string" use="required" />
      <xs:attribute name="exported" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
